<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="Public/Styles/crop.css">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <a class="back_arrow" href="mainScreen.html"></a>
        <p id="heading">Plodiny a ich odrody</p>
    </header>
    <main>
        <div class="crop_form">
            <form action="" id="crop_setter">
                <div class="inputfield">
                    <label for="crop_name">Názov plodiny</label>
                    <input type="text" name="crop_name" id="crop_name" placeholder="">
                </div>
                <div class="inputfield">
                    <label for="crop_type">Odroda plodiny</label>
                    <input type="text" name="crop_type" id="crop_type">
                </div>
                <div class="inputfield">
                    <label for="crop_ID">Kód plodiny</label>
                    <input type="text" name="crop_ID" id="crop_ID">
                </div>
                <input type="submit" id="submit_btn" value="Uložiť" class="submitButton"></input>
            </form>
            <button type="button" class="recordBtn" id="deleteBtn">
                Zmazať všetky záznamy
            </button>
            <button type="button" id="exportBtn" class="recordBtn">
                Exportovať všetky záznamy
            </button>
        </div>
        <div class="crop_list">
            <ul id="history_list">

            </ul>
        </div>
        <p id="error"></p>
    </main>



    <script src="Public/Scripts/addScripts/addCrop.js"></script>
    

</body>

</html>