<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="Public/Styles/export.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a class="back_arrow" href="mainRecord.html"></a>
        <p id="heading">Exportovanie záznamov</p>
    </header>
    <main>
        <div>
            <button id="filterFieldName">Filtrovanie podľa názvu polí</button>
            <button id="filterCropName">Filtrovanie podľa názvu plodiny</button>
            <button id="filterCropType">Filtrovanie podľa odrody plodiny</button>
        </div>
        <table id="tableData">
            <thead id="tableHead">
              
            </thead>
            <tbody id="tableBody">

            </tbody>
        </table>
        <button id="excelExport">Export to excel</button>


        <script src="Public/Scripts/table2excel.js"></script>
        <script>document.getElementById("excelExport").addEventListener('click', function() {
            let table2excel = new Table2Excel();
            table2excel.export(document.getElementById("tableData"));
        })</script>

        <script src="Public/Scripts/exports/exports.js"></script>
        
    </main>
</body>

</html>

